@media (min-width: 200px) and (max-width: 376px) {
    .other_infos {
        margin-top: 5px;
        row-gap: 5px;
    }
}

@media (min-width: 377px) and (max-width: 1024px) {
    .other_infos {
        margin-top: 20px;
    }
}