*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-main{

    font-size: 10px;
    text-align: center;
    padding: 0 10px 0 10px;
    background-color: #ffffff00;
    position: absolute;
    margin-top: 70px;
    width: 100%;
    height: 8vh;
}

.greetingText{

    margin: 0 auto;
}
.container-data{

    width: 50%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    place-items: center;
    background: #ffffff00;
    flex-grow: 1;
}
.container-hora{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff00;
    flex-grow: 1;
}
.container-divs{

    display: flex;
    width: 100%;
    height: 100%;
}


@media(max-width: 650px){

    .container-data{

        width: 70%;
    }
    
    .container-hora{
    
        width: 30%;
    }
}
